* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}

html {
	font-size: 62%;
}


.header {
	width: 100%;
}

.header__top {
	display: flex;
	justify-content: space-between;
}

.left > * {
	margin-right: 1.5rem;
}
nav > * {
	margin-right: 1rem;
}

a:hover {
	color: #afb2b3;
}
.left,
.right {
	display: flex;
	align-items: center;
}
.right {
	flex: 0.16;
	justify-content: space-between;
}
.right > * {
    cursor: pointer;
}

#logo {
	color: white;
	font-size: 3.4rem;
	cursor: pointer;
}

#logo:hover {
	color: #afb2b3;
}

#bell {
	color: white;
	font-size: 1.9rem;
	font-weight: 100;
}

#bell:hover {
	color: #afb2b3;
}

.bell {
	position: relative;
	width: max-content;
}

.bell::after {
	content: "";
	height: 0.9rem;
	width: 0.9rem;
	border-radius: 50%;
	background-color: blue;
	position: absolute;
	top: 0;
	right: 8%;
	z-index: 100;
}

.header__top {
	background-color: #24292e;
    padding: 1.6rem 3rem;
    margin-bottom: 4rem;
}

.new-repo {
	color: grey;
}

.profile-img {
	width: 2.3rem;
	height: 2.3rem;
	border-radius: 50%;
	overflow: hidden;
	margin-right: 4px;
}


.profile-img img {
	width: 100%;
	height: 100%;
}

.profile {
	display: flex;
	align-items: center;
}
.fa-caret-down{
    font-size: 1.3rem;
}
i {
	color: white;
}

i:hover {
	color: #afb2b3;
}

a {
	text-decoration: none;
	color: white;
	font-size: 1.4rem;
}

.input input {
	border: none;
	background-color: transparent;
	padding: 0.5rem 2rem;
	outline-width: 0;
	color: white;
	width: 90%;
}

.input input::placeholder{
	color:#B2B5B6;
}
.input {
	display: flex;
	align-items: center;
	border: 1px solid #444d56;
	padding: 0.2rem 1rem;
	border-radius: 5px;
	width: 28rem;
}
.input input ~ div {
	height: 2.2rem;
	width: 10%;
	border: 1px solid#444D56;
	border-radius: 3px;
	position: relative;
}

.input input ~ div::before {
	content: "";
	position: absolute;
	background-color: #8A8E90;
	height: 1rem;
	width: 0.2rem;
	top: 18%;
	left: 50%;
	transform: skewX(-30deg);
}

.header__bottom div svg {
	fill: #959DA5;
	font-size: 1.8rem;
	margin-right: 0.5rem;
}

.header__bottom div span {
    font-size: 1.3rem;
}

.header__bottom {
	display: flex;
	justify-content: center;
	padding-bottom: 2rem;
	border-bottom: 1px solid lightgray;
	display: relative;
	z-index: 50;
}

.header__bottom > * {
	margin-left: 2rem;
	display: flex;
	align-items: center;
}

#repo-svg {
	fill: #24292e;
}

#repo {
    font-weight: 900;
    position: relative;
}


#repo ~ svg {
    fill: black;
    position: relative;
}

#repo::before{
    content: "";
    width: 230%;
    height: 2px;
    position: absolute;
    background-color: #EE806B;
    bottom: -2.5rem;
    transform: translateX(-25%);
}

#repo-count {
    margin-left: 1rem;
    padding: .5rem 1rem;
    border-radius: 1.3rem;
    background-color:#E8EAED;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    padding-top: 1.5rem;
    background-color: #fff;
  }

.container {
    padding: 0 12rem;
    display: flex;
	position: relative;
	justify-content: space-between;
}

.container .profile-details {
    flex: .25;
    position: relative;
}
.container .repositories {
    flex: .7;
}

.profile-details button {
	border: 1px solid lightgray;
	padding: .5em 3em;
	font-size: 1.4rem;
	width: 100%;
	border-radius: 5px;
	cursor: pointer;
	margin: 1rem 0;
	background-color: #F3F4F6;
}


.container .profile-details .profile-details__img{
    height: 28rem;
    width: 28rem;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    top: -3rem;
    z-index: 100;
    border: 1px solid lightgray;
}

#profile-image{
    width: 100%;
}

.container .profile-details .status{
    position: absolute;
    z-index: 1000;
    height: 3.55rem;
    width: 3.55rem;
    border-radius: 50%;
    top: 8%;
    right:10%;
    background-color: white;
    border: 1px solid lightgray;
    display: grid;
	place-content: center;
	z-index: 1000;
	transition: all .2s ease-in;
	cursor: pointer;

}

.container .profile-details .status:hover{
	width: max-content;
	border-radius: 2rem;
	transform-origin: right;
	padding: 0 1em;
	display: flex;
	align-items: center;
	color: #0466D6;
	transform-origin: 50% 85%;
}



#set-status {
	font-size: 0;
	transition: all .2s ease-in;
}
.container .profile-details .status:hover > i{
	margin-right: 1rem;
	color: #0466D6;
}

.container .profile-details .status:hover > #set-status {
	font-size: 1.3rem;
}


.container .profile-details .status i{
    font-size: 1.7rem;
    color: #24292e;
}

select {
    border: none;
    width: fit-content;
    background-color: transparent;
}

.filter {
    background: #F3F4F6;
    display: flex;
    align-items: center;
    padding: 0 .8em;
    border-radius: 5px;
}

.filter label {
    font-size: 1.4rem;
    color: gray;
}

.repositories__filter{
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
}


.repositories__filter input{
    flex:.9;
    padding: .5em 1em;
    border-radius: 5px;
    border: 1px solid lightgray;
}

.repositories__filter button {
    background-color: #4C974C;
    border: none;
    padding: .4em 1em;
    font-size: 1.5rem;
    border-radius: 5px;
    color: white;
	cursor: pointer;
	display: flex;
	align-items: center;
}


.repositories__filter button  svg{
	margin-right: .5rem;
	fill: white;
}

#username {
	font-size: 1.8rem;
	color: #80868D;
}

#bio {
	font-size: 1.5rem;
	margin-top: 1rem;
}

.popularity{
	display: flex;
	align-items: center;
}

.popularity div {
	display: flex;
	align-items: center;
	margin-right: 1rem;
}

.popularity div span[class="follow"] {
	font-size: 1.3rem;
	color: #80868D;
}
.popularity svg {
	margin-right: .8rem;
	fill: #80868D;
}

#followers, #following {
	margin-right: .5rem;
}

#followers, #following , #star{
	font-size: 1.4rem;
	font-weight: 500;
}

.repositories__list {
	border-top: 1px solid #E1E4E8;
	margin-top: 3rem;
}

.item {
	border-bottom: 1px solid #E1E4E8;
	display: flex;
	justify-content: space-between;
	padding: 3rem 0;

}

.item .item__details  h2 {
	color: #0466D6;
	font-size: 2rem;
	margin-bottom: 1.5rem;
	cursor: pointer;
}

.item .item__details  h2:hover {
	text-decoration: underline;
}


.item .item__details  div {
	font-size: 1.2rem;
	color: #586069;
	font-weight: 400;
	display: flex;
	align-items: center;
}

.item .item__details  div > * {
	margin-right: 1rem;
}

#lang-color {
	height: 1.3rem;
	width: 1.3rem;
	background-color: purple;
	margin-right: 1rem;
	border-radius: 50%;
}

.item .item__starred button {
	border: 1px solid lightgray;
	padding: .5em 1em;
	font-size: 1.4rem;
	border-radius: 5px;
	cursor: pointer;
	margin: 1rem 0;
	background-color: #F3F4F6;
	display: flex;
	align-items: center;
}


.item .item__starred button svg {
	fill: #586069;
	margin-right: .5rem;
}